---
import Layout from '../layouts/Layout.astro';
---

<Layout title="K-12 Education - Leventhal Map & Education Center at the Boston Public Library">
  <h1 class="text-4xl font-bold">Featured lesson plans</h1>
</Layout>
