---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Subjects - Leventhal Map & Education Center at the Boston Public Library">
  <h1 class="text-4xl font-bold">Subjects</h1>
</Layout>
